@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat Display", sans-serif;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 400px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-image: url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30%;
    padding: 2%;
    width: 100%;
}

.header h1{
    font-weight: 800;
    font-size: 34px;
    margin-top: 25%;
}

.header p{
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    font-size: 17px;
}

.music{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    padding: 10px 40px;
    border-radius: 10px;
    gap: 30px;
    margin-top: 5%;
}

.anual-plan h4{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.anual-plan p{
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.music a{
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    transition: all 0.5s ease;
}

.music a:hover{
    transform: scale(1.05);
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 15%;
}

.botao-principal{
    background-color: hsl(245, 75%, 52%);
    padding: 10px 80px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 1px 1px 15px hsl(245, 75%, 52%);
    transition: all 0.5s ease;
}

.botao-principal:hover{
    transform: scale(1.05);
}

.botao-secundario{
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    transition: all 0.5s ease;
}

.botao-secundario:hover{
    transform: scale(1.05);
}